{% extends "layout.html" %}
    {% block head %}
    <TITLE>A. Barzaghi's portfolio - CODE</TITLE>
    {% endblock %}
    {% block header %}
    <H2>My Code</H2>
    {% endblock %}
    {% block main %}
    <P>In this page you'll find a list of my projects available on GitHub and a brief description of what they do.
    Most of my programs are implemented in Python 3, sometimes I also write code in C# and other languages.</P>
    <PRE>
<SPAN class="comment"># Let me greet you code-style:</SPAN>
print("Hello! Welcome to my code page")
<SPAN class="comment"># Code will be formatted in this way ;)</SPAN><SPAN class="anicursor"> &blk34;</SPAN></PRE>
    {% endblock %}