{% extends "layout.html" %}
    {% block head %}
    <TITLE>A. Barzaghi's portfolio - HOME</TITLE>
    {% endblock %}
    {% block header %}
    <H2>My Portfolio</H2>
    {% endblock %}
    {% block main %}
    <P>I created this page to store all my works that I want to share with you.
    This page is meant to be a sort of repository of all my programs, and it's coded in
    Python using the Flask framework. So - in some way - this page itself is one of my projects.
    I hope you're going to find something interesting, here.
    If you want to write me, please use the contacts page.
    Have a nice day!</P>
    {% endblock %}